[submodule "ext/qt-dynamic-layout"]
	path = ext/qt-dynamic-layout
	url = https://github.com/tamu-vscl/qt-dynamic-layout.git
[submodule "src/resources/sprites"]
	path = src/resources/sprites
	url = https://github.com/tamu-vscl/sprites.git
[submodule "ext/qt-toggle-input"]
	path = ext/qt-toggle-input
	url = https://github.com/tamu-vscl/qt-toggle-input.git
[submodule "src/map"]
	path = src/map
	url = https://github.com/tamu-vscl/cpd-map.git
